@import "tailwindcss";

@theme {
  --color-purple-500: rgb(124 93 250); /* #7C5DFA */
  --color-purple-400: rgb(146 119 255); /* #9277FF */
  --color-slate-50: rgb(248 248 251); /* #F8F8FB */
  --color-white: rgb(255 255 255); /* #FFFFFF */
  --color-slate-900: rgb(33 53 71); /* #213547 */
  --color-slate-800: rgb(30 33 57); /* #1E2139 */
  --color-slate-700: rgb(37 41 69); /* #252945 */
  --color-slate-500: rgb(136 142 176); /* #888EB0 */
  --color-slate-200: rgb(223 227 250); /* #DFE3FA */
  --color-slate-400: rgb(126 136 195); /* #7E88C3 */
  --color-red-500: rgb(236 87 87); /* #EC5757 */
  --color-red-300: rgb(255 151 151); /* #FF9797 */

  /* states */
  --color-paid: #33d69f;
  --color-pending: #ff8f00;
  --color-draft: #373b53;
}

@layer base {
  /* [data-theme="dark"] {
    --color-slate-50: 30 33 57;
    --color-white: 37 41 69;
    --color-slate-900: 255 255 255;
    --color-slate-200: 20 22 37;
  } */
}
